<h1>Hello World</h1>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
                <li class="list-group-item">
                    <div class="lead">
                        <a href="/posts/{{this._id}}">{{this.title}}</a>
                    </div>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                    <div class="text-right">
                        <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>