<div class="row">
  <div class="ind-post">
    <div class="left">
      <a href="/n/{{post.subreddit}}" id="subreddit">{{post.subreddit}}</a>
      <a href="/users/{{post.author.username}}" id="author">
        <small>{{post.author.username}}</small>
      </a>
    </div>
    <a href="{{post.url}}" class="title">{{post.title}}</a>
    <div class="content"><p>{{post.summary}}</p></div>
    <form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{{#each post.comments}}
  {{> comment comment=this postId=../post._id}}
{{/each}}
  </div>
</div>