<div>
    {{#if currentUser}}
    <div>
        <ul>

            {{#each posts}}
            <li class="list-group-item">
                <div class="vote-box">
                        <a href="/posts/{{this._id}}">{{this.title}} {{this.voteScore}}</a>
                    <a href="/users/{{this.author.username}}">
                        <small>{{this.author.username}}</small>
                    </a>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                    
                        <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
                        <div id="voting">
                            <form id="votes" class="vote-up" data-id="{{this._id}}">
                                <button type="submit">Vote Up</button>
                            </form>
                            <form id="votes" class="vote-down" data-id="{{this._id}}">
                                <button type="submit">Vote Down</button>
                            </form>
                        </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <h2>Please Log In To See Posts</h2>
    {{/if}}
</div>