<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <a href="/users/{{post.author.username}}"><p>{{post.author.username}}</p></a>
    <p>{{post.summary}}</p>
    <form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{{#each post.comments}}
  {{> comment comment=this postId=../post._id}}
{{/each}}
  </div>
</div>